.image-container {
    width: 100%;
    /* aspect-ratio: 16 / 9;  */
    max-width: 600px; /* Optional: limit maximum width */
    height: auto;
    overflow: hidden;
    margin: auto;
    padding: 5%;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover; /* Or 'contain', depending on use case */
    
  }

  .fade-in {
    animation: fadeIn 1.5s ease-in-out forwards;
    opacity: 0;
  }
  .image-frame {
    width: 90%;
    max-width: 600px;
    /* aspect-ratio: 16 / 9; */
    overflow: hidden;
    margin: 0 auto;
    padding: 2%;
  }
  
  .image-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  /* Slide-in effect */
  .slide-on-scroll {
    opacity: 0;
    transform: translateX(-50px); /* Start slightly off-screen */
    transition: opacity 1s ease, transform 1.3s ease;
  }
  
  .slide-on-scroll.visible {
    opacity: 1;
    transform: translateX(0); /* Slide into place */
  }
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  
  .heart {
    position: relative;
    width: 100px;
    height: 90px;
    margin: 50px auto;
    transform: rotate(-45deg);
    background: red;
    animation: pulse 1s infinite;
  }

  .heart::before,
  .heart::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 90px;
    background: red;
    border-radius: 50%;
  }

  .heart::before {
    top: -50px;
    left: 0;
  }

  .heart::after {
    left: 50px;
    top: 0;
  }

  @keyframes pulse {
    0% {
      transform: rotate(-45deg) scale(1);
    }
    50% {
      transform: rotate(-45deg) scale(1.1);
    }
    100% {
      transform: rotate(-45deg) scale(1);
    }
  }

  .slider {
    position: relative;
    width: 300px;
    height: 50px;
    overflow: hidden;
  }

  .text {
    position: absolute;
    white-space: nowrap;
    animation: slide 6s infinite;
    font-size: 20px;
  }

  @keyframes slide {
    0% {
      left: -100%;
      opacity: 0;
    }
    10% {
      left: 0;
      opacity: 1;
    }
    40% {
      left: 0;
      opacity: 1;
    }
    50% {
      left: 100%;
      opacity: 0;
    }
    60% {
      left: -100%;
      opacity: 0;
    }
    70% {
      left: 0;
      opacity: 1;
    }
    100% {
      left: 0;
      opacity: 1;
    }
  }